body {
    text-align: center;
    background-color: #ffe6f0;
    font-family: "Arial", sans-serif;
}

h1 {
    color: #e91e63;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #e91e63;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c2185b;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}