body {
    text-align: center;
    background-color: #e6fffe;
    font-family: "Arial", sans-serif;
}

h1 {
    color: #1ee92c;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #251ee9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #187bc2;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}